<div class="mat-elevation-z8 overflow-visiblegam">
  <table mat-table [dataSource]="dataSource" class="overflow-visible">
    <!-- Columna dinámica -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>
        {{ column | titlecase }}
      </th>

      <td
        mat-cell
        *matCellDef="let element; let i = index"
        [ngClass]="{ 'overflow-visible relative': column === 'actions' }"
      >
        <ng-container *ngIf="column === 'index'; else normalCell">
          {{ i + 1 }}
        </ng-container>

        <!-- Imagen -->
        <ng-container *ngIf="column === 'image' || column === 'avatar'">
          <img [src]="element[column]" class="w-10 h-10 object-cover rounded-md" alt="img" />
        </ng-container>

        <ng-container *ngIf="column === 'actions'">
          <app-dropdown-menu (onEdit)="onEdit(element)" (onDelete)="onDelete(element)">
          </app-dropdown-menu>
        </ng-container>

        <ng-template #normalCell>
          {{ element[column] }}
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
